//wPi 핀 번호
@DHT_PIN_NUMBER=7

//데이터 추출할 주기 1000 = 1초 (최소2초) 
@DHT_CYCLE_TIME=2000

//데이터 나눌 값 ex) 주기를 2초 나눌 값을 30  = 2초당 1번씩 총 30번에 데이터를 가져온 뒤 30으로 나눈 다음 DB 입력
@DHT_DIVIDE_COUNT=30

//DB 정보 DB명, 테이블명, IP, 유저, 패스워드 (대소문자 구분)
@DHT_DB_NAME=sensor_db
@DHT_DB_TALBE=TEMPERATURE_DATA
@DHT_DB_IP=127.0.0.1
@DHT_DB_PORT=3306
@DHT_DB_USER=sensor
@DHT_DB_PASS=sensor
